<h1>新しい投稿を作成</h1>

<%= form_with model: @post, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :body, "メモ" %>
    <%= f.text_area :body, rows: 5, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "画像" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>
